
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}


#paletteWrapper {
  width: 50px;
  padding: 10px;
    position:absolute;
    right:0;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(245, 245, 245, 0.336);
    box-shadow:0px 0px 20px rgb(56, 56, 56);
    height: 100%;
    transform: translateX(250px);
    transition: transform 0.5s ease-in-out;  
}

input[type="checkbox"]:checked ~ #paletteWrapper {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    right: 24px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #000;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;

}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

/*  */

#paletteWrapper{
/* width:500px; */
width: 50px;
padding: 50px 10px 10px 10px;
    position:absolute;
    right:0;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(245, 245, 245, 0.336);
    box-shadow:0px 0px 20px rgb(56, 56, 56);
    z-index: 1;
}

.palette {
    width:30px;
    height:30px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid black;
}

#col-lemon {
    background-color: rgb(212, 248, 179);
}


#col-green {
    background-color: rgb(0, 255, 170);
}


#col-blue {
    background-color: rgb(58, 106, 207);
}


#col-tealgreen {
    background-color: rgb(139, 166, 170);
}
#paletteWrapper .btns {
position: relative;
bottom: 0 ;
}

#paletteWrapper .btns button{
    all: unset;
    cursor:pointer;
    background-color: white;
    margin-top:5px;
    padding:5px 10px;
    width:34px;
    text-align: center;
    border-radius: 5px;
    /* border: 0.3px solid black; */
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.082), 0 1px 3px rgba(0, 0, 0, 0.034);
    text-transform: uppercase;
    font-weight:800;
    font-size: 11px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
transition: all 0.3s;
}

#paletteWrapper .btns button:active{
    transform:scale(0.97);
    background-color: rgba(136, 255, 0, 0.226);

}
#paletteWrapper #jsRange{
    width:50px;
}
/* pallet under construction */

.dot1{
    border-radius: 100%;
    animation: bg 5s linear infinite alternate;
    mix-blend-mode: difference;
}

.skew1{
    transform: skew(-70deg);
    width:5px;
}


  @keyframes bg{
      0%{background-color: rgba(139, 166, 170, 0);}
      100%{background-color:  rgb(212, 248, 179);}
  }